@import "../../scss/variables";

.container {
    margin: 0 auto;
    max-width: 900px;
    z-index: 11;
    @media screen and (max-width: 1800px) {
        z-index: 0;
    }

    @media screen and (max-width: 1000px) {
        margin: 0 5%;
    }
}

:host {
    background: map-get($mat-grey, 200);
}

::ng-deep md-card-title {
    margin-left: -17px!important;
}