@import "../../../scss/variables";

:host {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/assets/top-bg-large.jpg'); //https://www.pexels.com/photo/macbook-air-225767/
    background-size: cover;
    min-height: calc(100vh + 50px);
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-user-drag: none;
    position: relative;
}

.nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    md-tab-group {
        float: left;
        ::ng-deep .mat-tab-label {
            color: white;
            font-size: 1.2rem;
            opacity: 1;
            &:focus {
                background: none;
            }
        }
    }
    ::ng-deep .mat-ink-bar {
        background-color: white;
    }
    &.scrolled {
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/assets/top-bg.jpg'); //https://www.pexels.com/photo/macbook-air-225767/
        background-size: cover;
        background-position: left calc(-100vh);
    }

    @media screen and (max-width: 1800px) {
        display: none;
    }
}

.center-name {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media screen and (max-width: 600px) {
        width: 90%;
    }
    h1 {
        font-size: 3rem;
        min-height: 115px;
        margin: 0;
        @media screen and (max-width: 1000px) {
            font-size: 2rem;
            min-height: 75px;
        }
        @media screen and (max-width: 600px) {
            font-size: 1.6rem;
        }

    }
    button {
        color: black;
    }
}