md-card-content {
    table, p {
        width: 50%;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        md-input-container {
            ::ng-deep .mat-input-placeholder {
                color: #000;
            }
            width: 100%;
        }
    }
    i {
        margin: 0 7px 3px 0;
    }
}
