@import "../../../scss/variables";
md-card {
    [md-raised-button] {
        text-transform: uppercase
    }

    md-card-title{
        margin-top: 5px;
        margin-left: 14px;
    }

    md-grid-tile {
        font-size: 4rem;
        color: map-get($mat-grey, 600);
        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }
        i {
            cursor: pointer;
            transition: all .3s ease-in;
        }
        img {
            max-height: 70px;
            max-width: 100%;
            transition: all .3s ease-in;
            filter: grayscale(1);
            &:hover {
                filter: none;
            }
        }
    }

    md-card-actions {
        text-align: center;
        i.fa-linkedin-square {
            margin: 0 7px 3px 0;
        }
    }
}