@import './variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Custom properties
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: map-get($mat-grey, 200);
}

@import './fonts';
