::host {
    overflow: auto;
}

md-dialog-content {
    max-width: 1024px;
}

pre {
    white-space: pre-wrap;
}

.technologies {
    float: right;
    @media screen and (max-width: 1000px) {
        float: none;
    }
    font-size: 2em;
    @media screen and (max-width: 1000px) {
        font-size: 1em;
    }
    i {
        margin-right: 15px;
        cursor: pointer;
    }
}

[md-raised-button] {
    margin-top: 4px;
    text-transform: uppercase;
    i {
        margin: 0 7px 3px 0;
    }
}

img {
    max-height: 150px;
    margin: 4px;
    @media screen and (max-width: 1000px) {
        max-height: 100px;
    }
    cursor: pointer;
}