md-card {
    [md-raised-button] {
        text-transform: uppercase
    }

    md-card-title{
        margin-top: 5px;
        margin-left: 14px;
    }

    .list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
        .list-group-item {
            display: block;
            margin-bottom: -1px;
            cursor: pointer;
            padding-left: 95px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            @media screen and (max-width: 1000px) {
                padding-left: 55px;
            }
            div.description-container {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
            h4 {
                margin-bottom: 3px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            div.image-container {
                position: absolute;
                left: 5px;
                text-align: center;
                img {
                    max-width: 75px;
                    max-height: 60px;
                    border-radius:4%;
                    @media screen and (max-width: 1000px) {
                        margin-top: 10px;
                        max-width: 40px;
                        max-height: 30px;
                    }
                }
            }
            .fa-chevron-right {
                position: absolute;
                right: 25px;
                margin-top: 20px;
                font-size: 1rem;
                @media screen and (max-width: 1000px) {
                    right: 0px;
                }
            }
            .technologies {
                @media screen and (max-width: 600px) {
                    display: block;
                }
                i {
                    margin-right: 4px;
                }
            }
            img {

            }
        }
    }
}